@import 'tailwindcss';

@font-face {
	font-family: 'Departure Mono';
	src: url('$lib/assets/fonts/DepartureMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-serif: 'Crimson Pro Variable', serif;
	--font-pxl: 'Departure Mono', monospace;
	--default-font-family: var(--font-serif);
}

@custom-variant nd-dragging (&[data-neodrag-state="dragging"]);

@layer base {
	body,
	html {
		@apply size-full overflow-clip;
	}

	body {
		@apply relative isolate bg-stone-50 select-none;
	}

	* {
		@apply tracking-tight;
	}
}

@utility c-prose {
	@apply text-xl leading-normal text-stone-700;

	:where(*:not(:first-child)) {
		margin-top: 0.8em;
	}

	strong,
	b,
	:is(h1, h2, h3, h4, h5, h6) {
		@apply font-semibold text-stone-900;
	}

	a {
		@apply font-medium text-stone-900 underline decoration-1 underline-offset-2 transition hover:text-amber-700;
	}

	em,
	i {
		@apply italic;
	}

	h1 {
		@apply hidden;
	}
	h2 {
		@apply text-2xl;
		margin-top: 1.2em;
	}

	ul {
		@apply list-disc pl-6;
	}
	ol {
		@apply list-decimal pl-6;
	}

	ul,
	ol {
		li {
			@apply pl-2 marker:text-stone-300;
		}
		li:not(:first-child) {
			margin-block: 0.4em;
		}
	}

	hr {
		@apply my-6 border-stone-300;
	}
}

@utility bg-drum-back {
	background-image: repeating-linear-gradient(
		to bottom,
		transparent 0,
		transparent 3px,
		--alpha(var(--color-stone-800) / 0.2) 3px,
		--alpha(var(--color-stone-800) / 0.2) 4px
	);
}

@utility bg-drum-volume {
	background-image: repeating-linear-gradient(
		to bottom,
		transparent 0,
		transparent 3px,
		var(--color-amber-400) 3px,
		var(--color-amber-400) 4px
	);
	background-position: bottom;
}

@utility animate-load-in {
	animation: load-in 0.3s steps(16) 0.1s both;
}
@keyframes load-in {
	from {
		clip-path: inset(0 0 100% 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.animate-slide-up {
		animation: slide-up 0.8s cubic-bezier(0.16, 1, 0.3, 1) both;
	}
	@keyframes slide-up {
		from {
			transform: translateY(2rem);
			opacity: 0;
			filter: blur(8px);
		}
		to {
			transform: translateY(0);
			opacity: 1;
			filter: blur(0);
		}
	}

	.animate-slide-left-icon {
		--index: 0;
		animation: slide-left-icon 0.8s cubic-bezier(0.16, 1, 0.3, 1) both;
	}
	@keyframes slide-left-icon {
		from {
			transform: translateX(calc(var(--index) * 0.5rem + 1rem));
			opacity: 0;
			filter: blur(8px);
		}
		to {
			transform: translateX(0);
			opacity: 1;
			filter: blur(0);
		}
	}

	.animate-pop-in {
		animation: pop-in 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) both;
	}
	@keyframes pop-in {
		from {
			transform: scale(0.5);
			opacity: 0;
		}
		to {
			transform: scale(1);
			opacity: 1;
		}
	}
}
