@import 'tailwindcss';

@theme {
	--font-serif: 'Crimson Pro Variable', serif;
	--default-font-family: var(--font-serif);
}

@custom-variant nd-dragging (&[data-neodrag-state="dragging"]);

@layer base {
	body,
	html {
		@apply size-full;
	}

	body {
		@apply relative isolate bg-stone-50 select-none;
	}

	* {
		@apply tracking-tight;
	}
}
